In [ ]:

pip install autogluon

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Cars_India_dataset.csv to Cars_India_dataset (1).csv
User uploaded file "Cars_India_dataset.csv" with length 22145 bytes

In [36]:
import pandas as pd
import numpy as np
df = pd.read_csv("Cars_India_dataset.csv")
df.head(5)

,Unnamed: 0,Model,Maker,Type,Seats,Displacement,Length,Width,Height,Wheelbase,...,Rear Brake,Drive,Turning Radius,Fuel Tank Capacity,Boot Space,Fuel Efficiency,Emission Type,Tyre Size,Variants,NCAP Rating
0,24,GT-R,Nissan,Sports Car,2,3799.0,4710,1895,1370,2780,...,Disc,4 WD,5.57,74.0,315.0,10.16,Euro 6,285/35/20,1,Not Tested
1,40,Scorpio-N,Mahindra,SUV,6,2000.0,4662,1917,1857,2750,...,Disc,2WD,NaN,57.0,460.0,NaN,BS VI,255/16 R18,1,Not Rated
2,2,Virtus,Volkswagen,Sedan,5,1498.0,4561,1752,1507,2651,...,Drum,2WD,5.05,45.0,521.0,18.67,BS VI,205/55 R16,1,Not Tested
3,9,Amaze,Honda,Compact Sedan,5,1199.0,3995,1695,1501,2470,...,Drum,2WD,4.70,35.0,420.0,18.30,BS VI,175/65 R15,2,4
4,8,Amaze,Honda,Compact Sedan,5,1199.0,3995,1695,1501,2470,...,Drum,2WD,4.70,35.0,420.0,18.60,BS VI,175/65 R15,3,4

In [26]:
from pandas.core.reshape.reshape import get_dummies

from sklearn.preprocessing import LabelEncoder
y1=LabelEncoder().fit_transform(df['Model'])
y=pd.get_dummies(y1).values

In [27]:
y

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [42]:
data=df[['Displacement','Length','Width','Height','Wheelbase','Model']]

In [43]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data,test_size=0.2)

In [46]:
test1=test.drop(['Model'],axis=1)
train

     Displacement  Length  Width  Height  Wheelbase          Model
134         999.0    3991   1750    1605       2500          Kiger
50         1199.0    3989   1694    1544       2530           Jazz
4          1199.0    3995   1695    1501       2470          Amaze
57         1462.0    3995   1790    1640       2500  Urban Cruiser
68         1493.0    4315   1800    1620       2610         Seltos
..            ...     ...    ...     ...        ...            ...
89         1493.0    3995   1770    1617       2500   Venue N-Line
125        1497.0    4540   1800    1708       2780         Carens
31         1497.0    4315   1800    1620       2610         Seltos
110        1493.0    4500   1790    1675       2760        Alcazar
129        2199.0    5115   1985    1740       3060       Carnival

[124 rows x 6 columns]

In [ ]:
from autogluon.tabular import TabularPredictor
predictor= TabularPredictor( label ='Model').fit(train_data = train, verbosity = 2,presets='best_quality')

In [48]:
test

     Displacement  Length  Width  Height  Wheelbase              Model
30         1497.0    4315   1800    1620       2610             Seltos
0          3799.0    4710   1895    1370       2780               GT-R
27         1956.0    4661   1894    1786       2741             Safari
56         1462.0    3995   1790    1640       2500      Urban Cruiser
137         999.0    3731   1579    1490       2422               Kwid
80         1497.0    4440   1729    1475       2600              Verna
49         2000.0    4695   1890    1755       2750            XUV 700
151         999.0    3994   1758    1572       2500            Magnite
39         1197.0    3805   1680    1520       2450     Grand i10 Nios
58         2755.0    4795   1855    1835       2745  Fortuner Legender
19          998.0    3805   1680    1520       2450     Grand i10 Nios
148         999.0    4221   1760    1612       2651             Taigun
105        1999.0    4500   1790    1675       2760            Alcazar
20         2000.0    4662   1917    1857       2750          Scorpio-N
78         1197.0    3995   1775    1505       2580                i20
71         1197.0    3995   1775    1505       2580                i20
122        1493.0    4440   1729    1475       2600              Verna
107         998.0    3995   1680    1520       2450               Aura
70         1197.0    3995   1680    1520       2450               Aura
79         2694.0    4795   1855    1835       2745           Fortuner
139         799.0    3731   1579    1490       2422               Kwid
17         1498.0    4549   1748    1489       2600       City 5th Gen
97          998.0    4440   1729    1475       2600              Verna
123        1493.0    4500   1790    1675       2760            Alcazar
36         2184.0    4456   1820    1995       2680    Scorpio Classic
85         1197.0    3995   1770    1617       2500              Venue
102         998.0    3995   1770    1617       2500              Venue
82          998.0    3995   1775    1505       2580         i20 N-Line
120        1999.0    4500   1790    1675       2760            Alcazar
44         2200.0    4695   1890    1755       2750            XUV 700
103        1493.0    4540   1800    1708       2780             Carens
98          998.0    3995   1775    1505       2580                i20

In [49]:
predictor.leaderboard(train, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,KNeighborsDist_BAG_L1,0.967742,0.798387,0.104947,0.103573,0.009470,0.104947,0.103573,0.009470,1,True,2
1,ExtraTreesGini_BAG_L1,0.967742,0.862903,0.132463,0.106898,1.644197,0.132463,0.106898,1.644197,1,True,7
2,RandomForestEntr_BAG_L1,0.967742,0.879032,0.137519,0.127811,1.973382,0.137519,0.127811,1.973382,1,True,6
3,ExtraTreesEntr_BAG_L1,0.967742,0.862903,0.144898,0.107447,1.650871,0.144898,0.107447,1.650871,1,True,8
4,RandomForestGini_BAG_L1,0.967742,0.862903,0.233888,0.140755,1.746417,0.233888,0.140755,1.746417,1,True,5
5,LightGBM_BAG_L1,0.967742,0.879032,0.409712,0.027924,10.183192,0.409712,0.027924,10.183192,1,True,4
6,LightGBMLarge_BAG_L1,0.967742,0.887097,0.766330,0.040667,15.030045,0.766330,0.040667,15.030045,1,True,10
7,WeightedEnsemble_L2,0.967742,0.895161,0.908895,0.169060,17.446285,0.005046,0.000582,0.442858,2,True,11
8,LightGBMXT_BAG_L1,0.967742,0.879032,1.133043,0.056873,12.299752,1.133043,0.056873,12.299752,1,True,3
9,NeuralNetTorch_BAG_L1,0.887097,0.766129,0.107544,0.041287,17.669489,0.107544,0.041287,17.669489,1,True,9
10,KNeighborsUnif_BAG_L1,0.629032,0.362903,0.103594,0.110207,0.019564,0.103594,0.110207,0.019564,1,True,1

In [54]:
predictions = predictor.predict(test1)
predictions

30              Seltos
0               Tucson
27              Safari
56       Urban Cruiser
137               Kwid
80               Verna
49             XUV 700
151            Magnite
39      Grand i10 Nios
58            Fortuner
19      Grand i10 Nios
148             Taigun
105            Alcazar
20           Scorpio-N
78                 i20
71                 i20
122              Verna
107               Aura
70                Aura
79            Fortuner
139               Kwid
17        City 5th Gen
97               Verna
123            Alcazar
36     Scorpio Classic
85               Venue
102              Venue
82                 i20
120            Alcazar
44             XUV 700
103             Carens
98                 i20
Name: Model, dtype: object

In [51]:
test_score = predictor.evaluate(test)
print(test_score)

INFO:autogluon.tabular.learner.abstract_learner:Evaluation: accuracy on test data: 0.90625
INFO:autogluon.tabular.learner.abstract_learner:Evaluations on test data:
INFO:autogluon.tabular.learner.abstract_learner:{
    "accuracy": 0.90625,
    "balanced_accuracy": 0.8636363636363636,
    "mcc": 0.9031328397288161
}

{'accuracy': 0.90625, 'balanced_accuracy': 0.8636363636363636, 'mcc': 0.9031328397288161}